.pageBackground{
    background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/4/21/2OBQdl.jpg");
    margin-bottom: -20px;
    background-size: contain
}


.card-panel{
    border-radius: 3px;
    filter: drop-shadow(0 0 5px rgb(109, 13, 117));
}

img{
    box-shadow: 10px 10px 5px grey;
    
}